@import "tailwindcss"

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
  background-color: #1A0B2E;
}

/* nav related styles */
.navbar{
    display: flex;
    justify-content: space-around;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E;
    color: white;
    height: 5.7rem;
    align-items: center;
}

/* .navbar h3 .wave{
  background: linear-gradient(90deg, #F7E93F, #9100F8);
  
} */
.navbar #btn-sub{
  cursor: pointer;
}
.nav-menu{
  display: flex;
  list-style: none;
  gap: 1.25rem;
  font-size: 1rem;
  font-weight: 500;
}
.nav-menu a{
  text-decoration: none;
}

/* banner styles */
#banner{
  background-image: url(../images/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
    
}

.banner-container{
  /* padding: 20px 0; */
  text-align: center;
  align-items: center;
}
#banner-hero{
  position: relative;
  top: 50px;
  right: -80px;
}

.banner-container .banner-circle{
  width: 100%;
  height: 100%;
  position: relative;
}
.banner-container .microphone{
  position: relative;
  top: -260px;
  right: -120px;
}
#btn-banner-sub{
  border: 1px solid #00FF88;
}

/* about podcast */
.about-podcast{
  background-color: #1A0B2E;
  max-width: 1600px;
  margin: 0 auto;
}
.about-description{
  max-width: 1200px;
  margin: auto;
  padding: 8px 70px;
  align-items: center;
  text-align: center;
}
.ratings{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  padding-bottom: 10px;
}
.rating-count h3{
  font-size: 3rem;
  font-weight: 700;
  color: #00FF88;
}
.rating-count p{
  font-size: 16;
  color: white;
}

/* why choose section */
.why-choose{
  background-color: #230E3D;
  max-width: 1600px;
  margin: 0 auto;
  
    
}

.card-container{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
  /* width: 100%;
  height: 100%; */
  
  padding: 1.25rem;
  
}
.audio{  
  grid-row: span 2;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 30px;
  padding: 2rem;
  align-items: center;
  
}
.interview{
  grid-column: span 2;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 30px;
  padding: 2rem;
  align-items: center;
}
.device{
  grid-column: span 2;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 30px;
  padding: 2rem;
  align-items: center;
}
.community{
  grid-column: span 2;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 30px;
  padding: 2rem;
  align-items: center;
}
.resources{
  grid-column: span 1;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 30px;
  padding: 2rem;
  align-items: center;
}
/* featured episodes styles */
.feature-episodes{
  display: flex;
  gap: 20px;
  justify-content: space-around;
  max-width: 1600px;
  margin: 0 auto;
}
.feature-video{
 background-color: #250D44;
 border-radius: 20px;
}

/* Meet tha Host styles */
.meet-host{
  background-color: #1A0B2E;
  max-width: 1600px;
  margin: 0 auto;
}
.section-descriotion{
  display: flex;
  background-color: rgba(53, 17, 101, 0.4);
  /* max-width: 1200px;
  margin: 0 auto; */
  border-radius: 30px;
  /* padding: 20px; */
  align-items: center;
}
.section-descriotion .host-image{
  width: 70%;
  padding-left: 2rem;

}

.meet-host .social-link{
  display: flex;
  gap: 10px;
  padding-bottom: 4rem;
}

/* Footer section styles */
#footer{
  max-width: 1600px;
  margin: 4rem auto;
  /* background-color: #1A0B2E; */
  background-image: url(../images/footer-bg.png);
  padding: 4rem;
  
}
.footer-container{
  
  /* margin-top: 2.5rem; */
  padding: 4rem;
}
.footer-container .social{
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  padding: 2rem;
  align-items: center;
  
}


@media screen and (max-width: 576px) {
  .navbar{
    display: block;
  }
  
.navbar .nav-menu, #btn-sub{
  visibility: hidden;
}
}